/** Layout with sticky fixed footer **/
* {
    margin:0;
    padding:0;
}   
body,html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    text-align: center;
}
.fixedwidth {
    width: 800px; /* content width */
    margin: 0 auto;
    text-align: left;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -7em; /* -(#footer/#push height) */ 
}
#header {
    background-color: #000;
    color: #fff;
    height: 40px; /* header height */
}
#main {
}
#menu {
	border-bottom: 1px solid silver;
	padding: 5px;
}
#content {
	padding: 5px;
}
#footer {
    clear:both;
    background-color: #444;
}
#push, #footer {
    height: 7em; /* footer height */
}
/** Layout with sticky fixed footer END **/

iframe {
	display: none;
}