@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.min.js")" type="text/javascript"></script>
    </head>

<body id="body">
    <div id="wrapper">
        <div id="header">
            <div class="fixedwidth">
                <a href="/">Playground</a>
            </div>      
        </div>
 
        <div id="main">
            <div id="menu">
                <div class="fixedwidth">
                    @Menu.menuHtml()
                </div>
            </div>
 
            <div id="content">      
                <div class="fixedwidth">
                    
                    @content
                    
                </div>
            </div>
        </div>
        <div id="push"></div>
    </div>
 
    <div id="footer">
        <div class="fixedwidth">
            <a href="http://playframework.org">playframework.org</a>
        </div>
    </div>  
</body>
</html>
